@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "Prelo Book";
  src: url(../fonts/Prelo-Book.ttf) format("truetype");
  font-family: "Prelo Bold";
  src: url(../fonts/Prelo-Bold.ttf) format("truetype");
}

h3 {
  color: #7f0c21;
}

h1,
h2,
h3,
b {
  font-family: "Prelo Bold";
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
  /*max-width: 58ch*/
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
}

a {
  word-wrap: break-word;
  color: black;
  text-decoration: underline;
}

.botao,
.col-xl-4 {
  a {
    text-decoration: none;
  }
}

.col-xl-4 {
  a {
    color: white;
  }

  .cards {
    min-height: 642px !important;
  }

  .card-header {
    min-height: 157px !important;
  }
}

p {
  margin-bottom: 30px;
  font-size: 18px;
}

.listaTexto {
  margin-bottom: 0 !important;
}

p.indice {
  margin-bottom: -35px;
  margin-top: 50px;
  font-size: 20px;
  color: #00abcb;
  font-weight: bold;
  font-family: "Prelo Bold";
}

p.tituloLista {
  margin: 0px;
  font-weight: bold;
}

.iconeMenu .card-title {
  margin-top: 0px !important;
  font-size: max(15px, 1.3vw);
}

.video,
.imagem {
  margin: 10px 0 40px 0 !important;

  .col-lg-8,
  .col-lg-4,
  .col-md-6 {
    padding: 15px !important;
  }
}

.imagem {
  h3 {
    color: #00abcb;
  }
}

.video {
  h3 {
    color: #7f0c21;
  }
}

.imagem .lista-imagem {
  padding: 0 !important;
  margin-top: 40px;
}

.imagem-mapeada {
  max-width: 100%;
}
