.all-cards {
  display: flex;
  background-color: white;
  gap: 50px;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.cards {
  background-color: #05314a;
  margin-top: 0px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;

  & p {
    margin: 0px 0px 18px 0px !important;
    color: #ffffff;
  }

  & h2 {
    margin: 0px !important;
    color: #ffffff;
    font-weight: bold;
  }

  & a {
    text-decoration: none;
  }
  @media (max-width: 1200px) {
    width: 60%;
  }
}

.bottom-center {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.cards .row.botao {
  padding: 0px !important;
}

.cards .cards-header,
.cards .cards-body {
  padding: 18px 24px;
  max-height: 100%;
}

.cards .cards-header {
  border-bottom: 1px solid white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 0px;
  height: 25vh;
}

.tabela {
  margin-bottom: 40px;
  max-width: 100%;
  overflow: auto;
}

.tabela th {
  color: white;
  text-align: center;
  padding: 16px 8px;
}

.tabela td {
  padding: 12px 18px;
}

.tabela td,
.tabela tr {
  border: 1px solid #707070;
}

.modal-content {
  padding: 1rem 3rem;
}

.modal-header .close {
  padding: 1rem;
  margin: -2rem -4rem -1rem auto;
}

/* Flip Card */
.rowFlipCards {
  gap: 20px;
  margin: 50px 0px !important;
}

.flipCard {
  height: 440px;
  min-width: 300px;
  max-width: 300px;
  position: relative;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-color: #7f0c21;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.front,
.back {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*Safari*/
  -moz-backface-visibility: hidden;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  text-transform: uppercase;
  padding: 24px;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  padding: 24px;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 720px;
  }
}

.quiz {
  p {
    font-weight: bold;
    font-style: italic;
  }
}
