.barraStepperConteudo {
  background-color: ;
  width: 3.5px;
  margin-left: -14px;
}

.listaConteudo {
  padding: 0;
  margin: 0;
}

.itemConteudo {
  border: solid 3.5px;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-left: -6px;
  z-index: 2;
}

span.tituloItemConteudo {
  margin: -4px 0 30px 0;
  padding-left: 20px;

  & b {
    color: black;
  }
}
