@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "Prelo Book";
  src: url(../fonts/Prelo-Book.ttf) format("truetype");
  font-family: "Prelo Bold";
  src: url(../fonts/Prelo-Bold.ttf) format("truetype");
}

.conteudo {
  padding: 0% 12% 0% 10% !important;
  margin: 0% !important;
  /* min-height: 620px; */
}

.row {
  margin: 0px !important;
  @media (max-width: 1244px) {
    padding: 0;
    margin: 0;
  }
}
.row p {
  font-size: 18px;
  @media (max-width: 1356px) {
  }
}

.row #row-main {
  z-index: 1;
}

.col-md-2 {
  transition: all 0s;
  padding-left: 0px !important;
  position: relative;
}

.col-md-10 {
  padding: 0px !important;
  max-width: 100%;
}

.col-md-12 {
  padding: 0% !important;
  margin-left: auto;
}

.blocoTexto {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  padding: 24px 32px !important;
  background-color: #7f0c21;
  color: white;

  & a {
    color: white;
    margin-top: 0px;
  }
}

.download {
  margin-right: 12px;
  display: flex;
  align-items: baseline;

  img {
    margin-right: 12px;
  }
}

p.download {
  margin-bottom: 0px !important;
}

.tarjaBloco {
  width: 100%;
}

.textoDestacado {
  color: #8242a5;
  font-weight: 900;
}

.textoSlider {
  color: #7f0c21;
  font-weight: 900;
}

/* .blocoTexto,
.textoDestacado {
     margin: 40px 0px !important; 
     padding: 12px 18px !important; 
    font-weight: bold;

    & h3 {
        margin: 18px 0 12px 0;
    }

    & hr {
        margin: 0 0 20px 0;
        border: 1px solid #8242A5;
    }
} */

.blocoTexto li {
  list-style: none;
}

.blocoTexto li p {
  margin-bottom: 30px;
  /*max-width: 90ch;*/
  margin-left: 0px !important;
}

.voceSabia {
  margin-left: 10% !important;
  background-color: #9a7265;

  .col-md-2 {
    background-color: #6f4f45;
  }

  .col-md-10 hr {
    border: 1px solid white;
  }
}

.curiosidade {
  margin-left: 10% !important;
  background-color: #88a899;

  .col-md-2 {
    background-color: #2f6c48;
  }

  .col-md-10 hr {
    margin-left: 40px !important;
    border: 1px solid #ffffff;
    margin-top: -1rem;
  }
}

.objetivos,
.encerramento {
  padding: 20px 30px !important;

  h3 {
    color: #00abcb;
    margin: 0;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
  }
}

.objetivos {
  border: 2px dashed #00abcb;
}

.encerramento {
  border: 2px dashed #7f0c21;

  .col-md-2 {
    padding: 0px 0px 0px 15px !important;
  }
}

.autor {
  width: fit-content;
  background-color: #015973;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
}

.fontesPandemia {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  align-items: flex-start;

  img {
    max-width: 80% !important;
  }
}

.blocoMisto {
  margin: 50px 0px 50px 0px !important;
}

.blocoVerde {
  width: 100%;
  margin-left: 0px !important;
  /* 
    h3 {
        padding-left: 2%;
    } */

  .tituloBicolor {
    margin: 0 0 20px 0 !important;
  }

  .video {
    margin-left: 40px !important;
    object-fit: cover;
  }

  .col-md-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &.first {
      border-right: solid 1px #357b4b;
    }

    @media (max-width: 780px) {
      &.first {
        border: none;
      }
    }
  }

  @media (max-width: 780px) {
    .col-md-2 {
      justify-content: start;
    }
  }
}

.blocoVerde {
  background-color: #357b4b;
  color: white !important;

  .icon.arrow::before {
    color: white;
  }

  li {
    margin-bottom: 30px;
  }

  h3 {
    color: white;
  }
}

.blocoBege {
  background-color: #f7ece0;
  margin-bottom: 0 !important;

  h3 {
    color: #357b4b;
  }

  .row {
    margin-bottom: 30px !important;
  }

  ol li::marker {
    color: #357b4b;
    font-weight: 800;
    font-size: 26px;
  }

  li {
    margin-right: 12px;
    color: black;
  }
}

.alerta {
  background-color: #ff004c;
  margin-left: 0px !important;
  max-width: 580px;
  min-width: 580px;
  border-radius: 12.5px;

  .col-md-8 {
    display: flex;
    align-items: center;
  }

  @media (max-width: 780px) {
    .col-md-2 {
      justify-content: start;
    }
  }
}

.materialComplementar {
  border: 2px solid #7f0c21;
  margin-bottom: 30px;
  padding: 12px 22px;

  a {
    text-decoration: underline;
    color: black;
  }
}

.row.alerta {
  margin-top: 0px !important;
}

.alerta,
.saibaMais,
.blocoBege,
.blocoVerde {
  padding: 28px 26px;
  color: white;

  & ul {
    padding: 0;
    margin: 0;
  }

  .col-md-2 {
    padding: 0 !important;
    border-right: #357b4b solid 3.5px;
  }

  .col-md-2 img {
    padding: 16%;
  }

  .col-md-8 {
    padding-right: 12% !important;
  }

  .col-md-10 p {
    margin-top: 10px !important;
    margin-left: 40px;
  }

  /* .col-md-10 h3 {
        margin-top: 30px !important;
        margin-left: 40px;
    } */

  @media (max-width: 780px) {
    .col-md-2 {
      border-right: none;
    }

    .col-md-2 img {
      padding: 6% !important;
    }
  }

  & h3 {
    margin: 0px !important;
  }

  & p {
    color: black;
    margin: 0;
  }

  & a {
    text-decoration: underline;
  }
}
