footer {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

.fixaRodape {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.fixaMenuLateral {
    height: 100%;
    position: fixed;
    top: 0;
}

footer img {
    padding: 1% 0% 1% 0%;
    margin: auto;
    max-width: 100% !important;
}

#teste {
    margin: 0px !important;
}

.logo {
    max-width: 35%;
}

footer img {
    padding: 1% 1.5% 1% 1.5%;
    max-width: 100% !important;
}