@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "Prelo Book";
  src: url(../fonts/Prelo-Book.ttf) format("truetype");
  font-family: "Prelo Bold";
  src: url(../fonts/Prelo-Bold.ttf) format("truetype");
}

@media (max-width: 480px) {
  .blocoTexto {
    padding: 30px 30px 10px 30px !important;
  }

  ul {
    padding-left: 0px !important;
  }
}

@media (max-width: 780px) {
  #botaoAvancar,
  #botaoVoltar {
    margin: 50px 30px 0px 30px;
  }

  .row.botao,
  .botoesEncerramento {
    padding-bottom: 50px;
  }

  ul {
    padding-left: 0px !important;
  }
}
