/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais para o corpo */
body {
  height: 100vh;
  background-color: #ffffff;
}

/* Adicionando responsividade */
.table-container {
  width: 100%;
  margin: 20px 0; /* Adiciona margem superior e inferior */
  @media (max-width: 650px) {
    font-size: 2vw;
  }
}

table {
  width: 100%; /* Tabela ocupa 100% da largura disponível */
  border-collapse: collapse;
  @media (max-width: 650px) {
    padding-right: 20px;
  }
}
table span {
  font-size: 18px;
  @media (max-width: 650px) {
    font-size: 3vw;
  }
}

th,
td {
  padding: 12px 10px;
  text-align: center; /* Ajusta o padding para dar mais espaço às células */ /* Centraliza o texto dentro das células */
  border: 1px solid white; /* Borda para as células */
}

/* Estilizando cabeçalhos */
th {
  background-color: #f77f00;
  color: white;
}

/* Estilizando linhas alternadas */
tr:nth-child(even) {
  background-color: #ffdec0;
}

/* Responsividade para telas pequenas */
